/* ------------------------------------------------------
Variables
------------------------------------------------------ */
:root {
  --main-color: #000;
  --main-font: "Nunito";
  --lora-font: "Lora";
  --montserrat-font: "Montserrat";
  --trirong-font: "Trirong";
}

/* Custom Tailwind utilities */
.font-trirong {
  font-family: var(--trirong-font);
}

.font-montserrat {
  font-family: var(--montserrat-font);
}

.font-lora {
  font-family: var(--lora-font);
}

.font-nunito {
  font-family: var(--main-font);
}

.bg-main {
  background-color: var(--main-color);
}

.js-selector.active .u-check {
  opacity: 1;
}

.js-selector.active .u-perks {
  opacity: 1;
}

.js-refills .hidden {
  display: none;
}

/* ------------------------------------------------------
Container
------------------------------------------------------ */
html {
  font-size: 100%;
  font-style: normal;
  background: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.034rem;
}

@keyframes logo_scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos_wrap {
  will-change: transform;
  animation: logo_scroll 30s infinite linear;
}

/* custom arrows */
.slick-next {
  right: 24px;
  z-index: 2;
  width: 32px;
  height: 32px;
}
.slick-prev {
  left: 24px;
  z-index: 2;
  width: 32px;
  height: 32px;
}
.slick-prev::before,
.slick-next::before {
  display: none !important;
}

@media only screen and (max-width: 678px) {
  .slick-prev {
    left: 24px;
    z-index: 2;
    width: 32px;
    height: 32px;
  }

  .slick-prev img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/* custom dots */
.js-stories-slider .slick-dots {
  width: 100%;
  display: flex;
  gap: 0;
  position: relative;
  bottom: 0;
}

.js-stories-slider .slick-dots li{
  margin: 0;
  width: calc(100% / 7);
  height: auto;
}

.js-stories-slider .slick-dots li.slick-active .js-dot-bullet {
  background: #039869;
}

@media only screen and (max-width: 678px) {
  .js-stories-slider .slick-dots {
    padding-left: 8px;
  }

}

/* FAQ Toggle Icon */
.js-faq-item.active .faq-toggle {
  transform: rotate(180deg);
}

