.box_sp {
  display: none;
}

.box_pc {
  display: block;
}

/* responsive */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (min-width: 1025px) {
  a[href^="tel"] {
    pointer-events: none;
  }
}

@media screen and (max-width: 1024px) {
  /*menu_sp*/
  #header #toggle-menu {
    display: none;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 12;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
  }
  
  #header #toggle-menu.active {
    background: #87d255;
  }

  #header #toggle-menu .hamburger {
    width: 30px;
    height: 23px;
    position: relative;
  }

  #header #toggle-menu .hamburger .bar {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #87d255;
    transition: all 0.3s ease-in-out;
  }

  #header #toggle-menu .hamburger .bar1 {
    top: 0;
  }

  #header #toggle-menu .hamburger .bar2,
  #header #toggle-menu .hamburger .bar3 {
    top: 10px;
  }

  #header #toggle-menu .hamburger .bar3 {
    right: 0;
  }

  #header #toggle-menu .hamburger .bar4 {
    bottom: 0;
  }

  #header #toggle-menu .hamburger.active .bar {
    background: #fff;
    left: 62%;
  }

  #header #toggle-menu .hamburger.active .bar1 {
    transform: translateX(-50%) rotate(45deg);
    transform-origin: 2%;
    width: 30px;
  }

  #header #toggle-menu .hamburger.active .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
  }

  #header #toggle-menu .hamburger.active .bar3 {
    transform: translateX(40px);
    background-color: transparent;
  }

  #header #toggle-menu .hamburger.active .bar4 {
    transform: translateX(-50%) rotate(-45deg);
    transform-origin: 4%;
    width: 30px;
  }

  #header .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-width: 700px;
    background: #5b2f2c;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    z-index: 10;
  }

  #header .menu.active{
    transform: translateX(0);
  }

  #header .menu_list{
    flex-direction: column;
  }

  #header .menu_item{
    margin-bottom: 15px;
  }

  #header .menu_item a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 560px;
    height: 50px;
    margin: 0 auto;
    background: #fff;
    color: #5b2f2c;
  }

  #header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s, all 0.5s ease;
  }

  #header .overlay.opened {
    pointer-events: auto;
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #wrapper,
  #header,
  #main,
  #footer,
  .pages .pages_inner {
    width: 100% !important;
    min-width: inherit !important;
  }

  .box_sp {
    display: block;
  }

  .box_pc {
    display: none;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 490px) {
}

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 320px) {
}
