/* ------------------------------------------------------
Variables
------------------------------------------------------ */
:root {
  --main-color: #000;
  --white-color: #fff;
  --main-font: "Nunito";
  --lora-font: "Lora";
  --open-sans-font: "Open Sans", sans-serif;
  --montserrat-font: "Montserrat";
  --trirong-font: "Trirong";
}

/* Custom Tailwind utilities */
.font-trirong {
  font-family: var(--trirong-font);
}

.font-montserrat {
  font-family: var(--montserrat-font);
}

.font-lora {
  font-family: var(--lora-font);
}

.font-nunito {
  font-family: var(--main-font);
}

/* ------------------------------------------------------
Container
------------------------------------------------------ */
html {
  font-size: 100%;
  font-style: normal;
  background: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.034rem;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 94%;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.pc_only {
  display: block;
}

.sp_only {
  display: none;
}

.h_title {
  font-family: var(--trirong-font);
  font-size: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 14px;
}

.h2_title {
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: var(--lora-font);
  text-align: center;
  margin-bottom: 16px;
}

.h2_title span {
  color: #039869;
}

.btn_primary {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.btn_primary.left {
  justify-content: flex-start;
}

.btn_primary.fs1 a {
  padding: 18px 81px 19px;
  width: auto;
  border-radius: 4px;
  line-height: 1.3em;
  font-family: var(--main-font);
}

.btn_primary.fs2 a {
  width: auto;
  font-family: var(--main-font);
  padding: 18px 81px 17px;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.3em;
}

.btn_primary a {
  background: var(--main-color);
  color: var(--white-color);
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 12px 11px;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
  display: block;
}

.btn_primary a:hover {
  opacity: 0.8;
}

.content_contain {
  max-width: 800px;
  margin: 0 auto;
}

.content_img {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.content_img img {
  width: 100%;
  max-width: 300px;
}

.content_desc {
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 40px;
  text-align: center;
}

.icon_arrow {
  display: flex;
  justify-content: center;
}

.icon_arrow img {
  width: 100%;
  max-width: 48px;
}

/* cart */
.cart_list {
  display: flex;
  gap: 16px;
}

.cart_item {
  border-radius: 6px;
  overflow: hidden;
  flex: 1;
}

.cart_item figure {
  width: 100%;
  min-height: 150px;
  line-height: 0;
  margin-bottom: 10px;
}

.cart_item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart_content {
  min-height: 150px;
  padding: 16px;
  text-align: center;
  background: #f7f7f7;
}

.cart_content p {
  line-height: 1.3em;
}

.cart_list.custom .cart_item figure {
  margin-bottom: 0;
}

.cart_list.custom .cart_content {
  padding: 24px;
}

.cart_list .cart_title {
  font-family: var(--trirong-font);
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 24px;
}

.cart_list.custom .cart_content p {
  background: #ffe3e3;
  padding: 8px 16px;
  border-radius: 6px;
  min-height: 180px;
  font-weight: 700;
}

.cart_list.custom .cart_content p span {
  line-height: 1.3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 10px;
}

.cart_list.custom .cart_content p span img {
  width: 100%;
  max-width: 24px;
}

/* line */
.line {
  background-color: var(--white-color);
  height: 35px;
}

/* trustBadge */
.trustBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.trustBadge p {
  line-height: 1.3em;
  font-weight: 700;
}

.trustBadge span {
  line-height: 0;
}

.trustBadge span img {
  width: 24px;
  object-fit: contain;
}


/* block_content */
#block_content {
  padding: 56px 0;
}

#block_content.custom {
  background: #f3eee0;
}

#block_content .block_content_block {
  display: flex;
  background: #f7f7f7;
  overflow: hidden;
}

#block_content.custom .block_content_block {
  background: none;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

#block_content .block_content_content {
  width: 50%;
  padding: 28px 32px 36px;
}

#block_content.custom .block_content_content {
  padding: 0;
}

#block_content .block_content_subtitle {
  line-height: 1.3em;
  color: #737373;
  display: inline-block;
  margin-bottom: 16px;
}

#block_content .block_content_subtitle img {
  width: 100%;
  max-width: 350px;
}

#block_content .block_content_title {
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 16px;
  font-weight: 400;
  font-family: var(--lora-font);
}

#block_content .block_content_text {
  margin-bottom: 25px;
}

#block_content.custom .block_content_text {
  margin-bottom: 38px;
}

#block_content .block_content_text p {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.035em;
  margin-bottom: 12px;
}

#block_content.custom .block_content_text p {
  letter-spacing: 0.033em;
}

#block_content .block_content_text p:last-child {
  margin-bottom: 0;
}

#block_content .block_content_box {
  max-width: 495px;
}

#block_content .block_content_image {
  width: 50%;
  border-radius: 12px;
  overflow: hidden;
  line-height: 0;
}

#block_content .block_content_image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#block_content .btn_primary {
  margin-bottom: 18px;
}


/* ------------------------------------------------------
Header
------------------------------------------------------ */
#header h1 {
  display: flex;
  justify-content: center;
  line-height: 0;
  padding: 20px 0;
}

#header h1 img {
  width: 100%;
  max-width: 160px;
}

/* ------------------------------------------------------
Contents
------------------------------------------------------ */
/* section product */
#product {
  padding-bottom: 48px;
}

#product .product_block {
  display: flex;
  gap: 64px;
}

#product .product_images,
#product .product_detail {
  width: 100%;
}

#product .product_images .images_main {
  position: relative;
  height: 588px;
  max-height: 588px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

#product .product_images .images_main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#product .images_main .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-block;
  pointer-events: none;
  z-index: 1;
}

#product .images_main .icon img {
  width: 100%;
  max-width: 120px;
}

#product .images_main p {
  position: absolute;
  left: 50%;
  bottom: 11px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: 1.2em;
  max-width: 290px;
  padding: 8px 24px;
  background: #ffffffd9;
  border: 1px solid black;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--montserrat-font);
  letter-spacing: 0.04rem;
}

#product .images_main p span {
  display: flex;
  align-items: center;
}

#product .images_main p span img {
  width: 100%;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
}

#product .image_list .image_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 26px;
}

#product .image_list .image_items:last-child {
  margin-bottom: 0;
}

#product .image_list .image_items.three_row {
  grid-template-columns: 1fr 1fr 1fr;
}

#product .image_list .image_items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

#product .product_start {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  line-height: 1.3em;
}

#product .product_start img {
  width: 100%;
  max-width: 100px;
}

#product .product_title {
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 1.4em;
  font-family: var(--lora-font);
  letter-spacing: 0.036rem;
}

#product .product_features {
  margin-bottom: 16px;
}

#product .product_features_item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

#product .product_features_item:last-child {
  margin-bottom: 0;
}

#product .product_features_item span {
  display: inline-block;
  line-height: 0;
  width: 10%;
}

#product .product_features_item p {
  width: 100%;
  line-height: 1.3em;
  letter-spacing: 0.036rem;
}

#product .selector_content {
  background: #f3eee0;
  padding: 12px 12px 24px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 10px;
}

#product .selector_block {
  border-radius: 12px;
  border: 1px solid #039869;
  position: relative;
  margin-bottom: 13px;
  cursor: pointer;
}

#product .selector_block:last-child {
  margin-bottom: 0;
}

#product .selector_block.active .selector_checkbox span {
  opacity: 1;
}

#product .selector_head {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  padding: 19px 16px 17px;
  border-radius: 12px;
  line-height: 1.1em;
}

#product .selector_checkbox {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #039869;
  position: relative;
  top: -2px;
}

#product .selector_checkbox span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #039869;
  opacity: 0;
  transition: all 0.2s ease;
}

#product .selector_info {
  flex: 1;
}

#product .selector_info .selector_title {
  font-weight: 600;
}

#product .selector_info .selector_subtitle {
  font-size: 12px;
}

#product .selector_price {
  text-align: right;
}

#product .selector_price p:first-child {
  font-weight: 600;
  margin-bottom: 0;
}

#product .selector_price p:last-child {
  font-size: 14px;
  font-family: var(--montserrat-font);
}

#product .selector_perks {
  background-color: #039869;
  opacity: 0.6;
  border-radius: 0 0 10px 10px;
}

#product .selector_perks .perks_item {
  padding: 4px 8px 3px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1em;
  border-bottom: 1px solid var(--white-color);
}

#product .selector_perks .perks_item:last-child {
  border-bottom: none;
}

#product .selector_perks .perks_item span {
  display: inline-block;
  width: 32px;
  line-height: 0;
}

#product .selector_perks .perks_item span img {
  width: 100%;
  object-fit: contain;
}

#product .selector_block.active .selector_perks {
  opacity: 1;
}

#product .selector_badge {
  position: absolute;
  top: -20px;
  right: -5px;
  z-index: 1;
}

#product .product_delivered_note {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 13px;
}

#product .product_delivered_note > span {
  width: 5%;
  display: flex;
  align-items: center;
}

#product .product_delivered_note p {
  line-height: 1.3em;
}

#product .product_delivered_note .delivery_date {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  background: #039869;
}

#product .product_atc {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}

#product .product_atc .product_atc_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

#product .product_atc .product_atc_item:first-child {
  padding-right: 16px;
  border-right: 1px solid black;
}

#product .product_atc .product_atc_text {
  line-height: 1.3em;
}

#product .product_atc .product_atc_text p {
  margin-bottom: 0;
}

#product .product_atc .product_atc_text .hidden {
  display: none;
}

#product .product_atc .product_atc_icon {
  line-height: 0;
}

#product .product_atc .product_atc_icon img,
#product .product_atc .product_atc_icon svg {
  width: 20px;
  height: 20px;
}

#product .product_atc-icons .product_atc-icon {
  margin-bottom: 20px;
}

#product .product_atc-icons {
  margin-bottom: 24px;
}

#product .product_atc-icons .product_atc-icon-line {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 11px;
}

#product .product_atc-icons .product_atc-icon-line:last-child {
  margin-bottom: 0;
}

#product .product_atc-icons .product_atc-icon-line img {
  width: 27px;
  object-fit: contain;
}

#product .product_atc-icons .product_atc-icon-line p {
  flex: 1;
}

#product .product_payment_icon {
  margin-bottom: 17px;
}

#product .product_payment_icon img {
  width: 100%;
  object-fit: contain;
}

#product .product_bg_note {
  margin-bottom: 12px;
}

#product .product_bg_note img {
  width: 100%;
  object-fit: contain;
}

#product .product_review {
  background: #f3eee0;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 12px;
}

#product .product_review-meta {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
}

#product .product_review-meta > span {
  width: 72px;
  display: inline-block;
  line-height: 0;
}

#product .product_review-meta > span img {
  width: 100%;
  object-fit: contain;
}

#product .product_review-info {
  flex: 1;
}

#product .product_review-info p {
  margin: 0 0 7px;
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: 1.3em;
}

#product .product_review-info p span {
  display: inline-flex;
  width: 100%;
  max-width: 120px;
}

#product .product_review-info p span img {
  width: 100%;
  object-fit: contain;
}

#product .product_review-info .product_review-stars {
  width: 100%;
  max-width: 100px;
  object-fit: contain;
}

#product .product_review-content p {
  margin-bottom: 8px;
  line-height: 1.3em;
  letter-spacing: 0;
}

#product .product_review-content p:last-child {
  margin-bottom: 0;
}

#product .product_review-content p strong {
  font-weight: 600;
}

.content_tab .content_block {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 32px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}

.content_tab .content_block.active {
  border: 1px solid #039869;
}
.content_tab .content_block:last-child {
  margin-bottom: 0;
}

.content_tab .content_block .content_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  line-height: 1.3em;
}

.content_tab .content_block .content_heading span {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
}

.content_tab .content_block .content_heading span img {
  width: 100%;
  object-fit: contain;
}

.content_tab .content_block.active .content_heading span {
  transform: rotate(45deg);
}

.content_tab .content_text {
  display: none;
  padding-top: 16px;
}

.content_tab .content_text p {
  margin: 0 0 12px;
  line-height: 1.3em;
  letter-spacing: 0;
}

.content_tab .content_text p:last-child {
  margin-bottom: 0;
}

.content_tab .content_text ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  font-family: var(--montserrat-font);
}

.content_tab .content_text li {
  list-style: disc;
}

/* section  As Seen In*/
@keyframes logo_scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos_wrap {
  will-change: transform;
  animation: logo_scroll 30s infinite linear;
}

@media (max-width: 900px) {
  .logos_wrap {
    animation: logo_scroll 10s infinite linear;
  }
}

/* section symptom-overview*/

#symptom-overview {
  padding-top: 72px;
  padding-bottom: 24px;
}

#symptom-overview .overview_figure {
  width: 100%;
  max-width: 920px;
  margin: auto;
}

#symptom-overview .overview_figure img {
  width: 100%;
  object-fit: contain;
}

/* section cause-analysis */
#cause-analysis {
  padding: 24px 0;
}

#cause-analysis .inner {
  max-width: 920px;
}

#cause-analysis .analysis_image {
  line-height: 0;
}

#cause-analysis .analysis_image img {
  width: 100%;
  object-fit: contain;
}

/* section system-info */
#system-info {
  padding: 8px 0;
}

#system-info .content_contain {
  margin-bottom: 13px;
}

#system-info .info_item {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-bottom: 72px;
}

#system-info .info_item:last-child {
  margin-bottom: 0;
}

#system-info .info_item:nth-child(even) {
  flex-direction: row-reverse;
}

#system-info .info_content {
  flex: 1;
  font-size: 18px;
  line-height: 1.3em;
}

#system-info .info_content p {
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 8px;
}

#system-info .info_content p:last-child {
  margin-bottom: 0;
}

#system-info .info_content ul {
  margin-bottom: 8px;
}

#system-info .info_content li {
  padding-left: 32px;
  color: #0c7c00;
  background-image: url("../images/system_info/icon_incorrect.png");
  background-size: 20px;
  background-repeat: no-repeat;
  font-weight: 600;
  margin-bottom: 8px;
}

#system-info .info_content li:last-child {
  margin-bottom: 0;
}

#system-info .info_content ul:last-child {
  margin-bottom: 0;
}

#system-info .info_content ul.check li {
  background-image: url("../images/system_info/icon_check.png");
}

#system-info .info_content .pink-text {
  padding: 16px 16px;
  border-radius: 8px;
  background: #ffe3e3;
  margin: 24px 0;
}

#system-info .info_image {
  flex: 1;
}

#system-info .info_image img {
  width: 100%;
  object-fit: contain;
}

/* section failed_solutions */
#failed_solutions {
  background-color: #f7f2e7;
  padding-bottom: 74px;
}

#failed_solutions .content_contain {
  margin-bottom: 41px;
}

#failed_solutions .solutions_figure {
  width: 100%;
  max-width: 920px;
  margin: 0 auto 24px;
  line-height: 0;
}

#failed_solutions .solutions_figure img {
  width: 100%;
  object-fit: contain;
}

#product_formula {
  background: #f3eee0;
  padding: 72px 0 66px;
}

#product_formula .content_contain {
  margin-bottom: 40px;
}

#product_formula .formula_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #fff;
  border-radius: 12px;
  border: 1px solid var(--main-color);
  overflow: hidden;
  margin-bottom: 40px;
}

#product_formula .formula_item {
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 24px;
  cursor: pointer;
}

#product_formula .formula_item:nth-child(4),
#product_formula .formula_item:nth-child(8) {
  border-right: none;
}

#product_formula .formula_item:nth-child(5),
#product_formula .formula_item:nth-child(6),
#product_formula .formula_item:nth-child(7),
#product_formula .formula_item:nth-child(8) {
  border-bottom: none;
}

#product_formula .formula_subtitle {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: #0c7c00;
  margin: 0 0 13px;
}

#product_formula .formula_subtitle span {
  width: 100%;
  max-width: 16px;
  display: inline-block;
}

#product_formula .formula_subtitle span img {
  width: 100%;
  object-fit: contain;
}

#product_formula .formula_image {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 120px;
  margin: 0 auto 12px;
  max-height: 80px;
  line-height: 0;
}

#product_formula .formula_image img {
  width: auto;
  object-fit: contain;
}

#product_formula .formula_content h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--trirong-font);
  justify-content: space-between;
  font-weight: 600;
  line-height: 1.3em;
}

#product_formula .formula_content h3 span {
  width: 100%;
  max-width: 24px;
  display: inline-block;
}

#product_formula .formula_content h3 span img {
  width: 100%;
  object-fit: contain;
}

#product_formula .formula_text {
  padding-top: 12px;
  display: none;
}

#product_formula .formula_text p {
  margin: 0;
  line-height: 1.3em;
  font-size: 14px;
}

#product_formula .formula_summary {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
}

#product_formula .formula_summary img {
  width: 100%;
  object-fit: contain;
}

/* section benefits */
#benefits {
  padding: 32px 0;
  background: #f3eee0;
}

#benefits .benefits_list {
  display: flex;
  gap: 24px;
}

#benefits .benefits_item {
  flex: 1;
  text-align: center;
}

#benefits .benefits_icon {
  height: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto 16px;
  line-height: 0;
}

#benefits .benefits_icon img {
  width: auto;
  max-height: 100%;
}

#benefits .benefits_title {
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 8px;
}

#benefits .benefits_text {
  margin: 0;
  line-height: 1.3em;
}

/* section success_stories */
#success_stories {
  background: #f3eee0;
  padding: 56px 0 59px;
}

#success_stories .stories_slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 43px;
}

#success_stories .stories_slider .swiper-wrapper .swiper-slide {
  width: 25% !important;
  padding: 8px;
}

#success_stories .stories_slider .stories_video {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

#success_stories .stories_slider .stories_video video {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 9 / 16;
  height: 100%;
}

#success_stories .stories_slider .stories_video .icon_play {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
  pointer-events: none;
}

#success_stories .stories_slider .stories_video .icon_play img {
  width: 100%;
  object-fit: contain;
}

#success_stories .stories_controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#success_stories .stories_controls .swiper_arrow .swiper-button-next span {
  transform: rotate(180deg);
}

#success_stories .stories_controls .swiper-pagination {
  position: relative;
  width: calc(100% - 200px);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
}

#success_stories .stories_controls .swiper-pagination-bullet {
  margin: 0;
  width: calc(100% / 7);
  padding: 0;
  height: 4px;
  background: #00000026;
  border-radius: 0;
  opacity: 1;
}

#success_stories .stories_controls .swiper-pagination-bullet-active {
  background: #039869;
}

#success_stories .stories_controls .swiper_arrow {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

#success_stories .stories_controls .swiper_arrow .swiper-button-next,
#success_stories .stories_controls .swiper_arrow .swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 0;
}

#success_stories .stories_controls .swiper_arrow span {
  width: 32px;
  height: 32px;
  display: inline-block;
}

#success_stories .stories_controls .swiper_arrow span img {
  width: 100%;
  object-fit: contain;
}

#success_stories .stories_controls .swiper_arrow .swiper-button-next::after,
#success_stories .stories_controls .swiper_arrow .swiper-button-prev::after {
  display: none;
}

#success_stories .stories_controls .swiper_arrow .swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

#success_stories .btn_primary {
  margin-bottom: 18px;
}

/* section faq */
#faq {
  padding: 72px 0;
}

#faq .faq_wrap {
  width: 100%;
  max-width: 824px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  padding: 32px;
  background: linear-gradient(180deg, #fff, #f3eee0);
  margin-bottom: 24px;
}

#faq .faq_box {
  padding: 22px 24px 23.5px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

#faq .faq_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

#faq .faq_header h3 {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 400;
}

#faq .faq_header span {
  line-height: 0;
  display: inline-block;
  width: 16px;
  transition: all 0.2s;
}

#faq .faq_header span svg {
  width: 100%;
  object-fit: contain;
}

#faq .faq_content {
  display: none;
  padding-top: 19px;
}

#faq .faq_content p {
  margin: 0;
  line-height: 1.3em;
}

#faq .btn_primary {
  margin-bottom: 18px;
}

/* section mission */
#mission {
  padding: 56px 0;
}

#mission .mission_box {
  display: flex;
  align-items: center;
}

#mission .mission_content {
  width: 58.871%;
  padding: 0 32px;
}

#mission .mission_content .h2_title {
  text-align: left;
}

#mission .mission_text {
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 12px;
}

#mission .mission_image {
  width: 100%;
}

#mission .mission_image img,
#mission .mission_media img {
  width: 100%;
  object-fit: contain;
}

#mission .mission_media {
  width: 41.129%;
}


/* ------------------------------------------------------
Footer
------------------------------------------------------ */

/* MOZZILLA CSS */
@-moz-document url-prefix() {
}

/* IE CSS */
@media screen\0 {
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align: auto) {
}
